{% extends "base.html" %} 
{% block content %} 
{% load blog_extras %} 
 {% if notes.image %}
  <div class="mt-10">
    <img
      class="card-img rounded-5"
      src="{{ notes.image.url }}"
      alt="Card image cap"
    />
  </div>
  {% endif %}
  <div>
    <h1 class="my-5">{{notes.title}}</h1>
    <div class="center_text_blog" style="text-align: start;">
      {{ notes.text|convert_markdown|safe }}
    </div>
  </div>
  <div class="border border-0 p-2 text-white">
    <a href="{% url 'notes.list' %}" class="btn btn-secondary btn-lg me-md-2">Back</a>
    <a href="{% url 'notes.update' pk=notes.id %}" class="btn btn-secondary btn-lg me-md-2">Edit</a>
    <a href="{% url 'notes.delete' pk=notes.id %}" class="btn btn-danger btn-lg me-md-2">Delete</a>
  </div>
{% endblock %}